FLASK_SECRET_KEY=some_secret
FLASK_PYTEST_OUTPUT_FILE=name_of_pytest_outputfile.html
FLASK_TMP_FOLDER=absolute_folder_for_temporary_files_created
FLASK_LOGGING_CONFIG=absolute_folder_to_logging.config.yaml

CRANE_CURVE_FILE = path/to/crane/curves