<!-- "Parent Template" -->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Popups -->
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!-- Dropzone -->
	<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

	<!-- Web icons -->
	<script src="https://kit.fontawesome.com/6c7177b30d.js" crossorigin="anonymous"></script>

	<!-- Own content -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" media="screen">

{% block head %}
<title>{% block title %}{% endblock %}</title>
{% endblock %}
</head>

<body>
		<h1 align="center">{% block heading %}{% endblock %}</h1>

	    <!-- Start: top -->
	    <div id="top" align="right">
			<a href="{{ url_for('get_file', folder="sample", name="sample.yaml") }}"><i class="fa-regular fa-file-code fa-xl"></i></a>
			&nbsp;&nbsp;
			<a href="#" data-toggle="popover" title="Recognised crane curves" data-placement="right" data-html="true" data-content="
				<ul>
					{% for c in SUPPORTED_CRANE_CURVE_IDS %}
					<li>{{ c }}</li>
					{% endfor %}
				</ul>"><i class="fa-solid fa-ship fa-xl"></i></a>
			&nbsp;&nbsp;
			<a href="#" data-toggle="popover" title="Recognised units" data-placement="right" data-html="true" data-content="
				Mass
				<ul>
					<li>g</li>
					<li>metric_ton</li>
					<li>pound</li>
					<li>slug</li>
					<li>stone</li>
					<li>hundredweight</li>
					<li>long_hundredweight</li>
					<li>ton</li>
					<li>long_ton</li>
				</ul>
				Length
				<ul>
					<li>chain</li>
					<li>foot</li>
					<li>hand</li>
					<li>inch</li>
					<li>link</li>
					<li>meter</li>
					<li>survey_foot</li>
				</ul>"><i class="fa-solid fa-compass-drafting fa-xl"></i></a>
			&nbsp;&nbsp;
			<a href="https://github.com/akjore/dualCraneLiftCapacity/issues"><i class="fa-solid fa-bug fa-xl"></i></a>
	    </div>
	    <!-- End: top -->
		&nbsp; &nbsp;
	    <!-- Start: main -->
	    <div id="main" align="center">
			{% block body %}{% endblock %}
		</div>
		<!-- End: main -->

		<footer>
			<h4 class="left">
				<a href="https://github.com/akjore/dualCraneLiftCapacity" class="git"><i class="fa-brands fa-github fa-xl"></i></a>&nbsp;
				<i class="fa-solid fa-hashtag"></i>{{ VERSION }}
			</h4>
			<a href="{{ url_for('get_file', folder="", name=TEST_RESULT_FILENAME) }}" target="_new">
			{% if TEST_RETCODE is none: %}
				<h4 class="right_unknown">Test status: Unknown</h4>
			{% elif TEST_RETCODE == 0 %}
			<h4 class="right_pass">Test status: OK</h4>
			{% else %}
			<h4 class="right_fail">Test status: FAIL</h4>
			{% endif %}
			</a>
		</footer>

	<script>
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover();   
		});

		const popover = new bootstrap.Popover('.popover-dismiss', {
			trigger: 'focus'
		});
	</script>
</body>
</html>