<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<title>Crane curves</title>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
		<script>
			const data = {
				datasets: [
					{% for key in crane_curves.keys() -%}
					{
						label: '{{key}}',
						data: {{crane_curves[key] | safe}} 
					},
					{% endfor -%}
				],
			};

			const zoomOptions = {
  				pan: {
					enabled: true,
					mode: 'xy',
					modifierKey: 'ctrl',
				},
				zoom: {
					wheel: {
            			enabled: true,
					},
					pinch: {
						enabled: true,
					},
					drag: {
						enabled: true,
					},
					mode: 'xy',
				},
			};

			const config = {
				type: 'scatter',
				data: data,
				options: {
					plugins: {
						title: {
							display: true,
							text: 'Crane curves',
							font: {
								size: 18
							}
						},
						zoom: zoomOptions,
					},
					scales: {
						x: {
		        			type: 'linear',
		        			position: 'bottom',
							title: {
								display: true,
								text: 'Crane radius'
							}
		      			},
						y: {
							title: {
								display: true,
								text: 'Crane capacity'
							}
						}
				    },
					showLine: true,
				}
			};
		</script>
	</head>
	<body>
		<div height="100%" width="100%">
			<canvas id="crane_curves"></canvas>
		</div>

		<script>
			const ctx = document.getElementById('crane_curves');
			new Chart(ctx, config);
		</script>
	</body>
</html>