<!-- "Child Template" -->
{% extends "base.html" %}
{% block title %} Dual crane lift capacity curve {% endblock %}
{% block heading %} Dual crane lift capacity curve {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
<form action="/" class="dropzone" id="cranecurve-dropzone"></form>
&nbsp; &nbsp;

<div id="results">
	<table class="resulttable" id="resulttable">
		<tbody>
		</tbody>
	</table>

	<template id="resultrow">
		<tr id="xxx">
			<td class="record"></td>
			<td></td>
			<td align="right"><a href="" target="_blank"><i class="fa-solid fa-download"></i></a></td>
			<td align="right"><a href="" target="_blank"><i class="fa-solid fa-chart-line"></i></a></td>
			<td align="right"><a href=""><i class="fa-solid fa-scroll"></i></a></td>
			<td align="right"><a href=""><i class="fa-solid fa-trash"></i></a></td>
		</tr>
	</template>
</div>
  
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js">
</script>
<script>
	var  baseURL_get_file="{{ url_for('get_file', name='DUMMY_VALUE') }}";
	var  baseURL_delete_file="{{ url_for('delete_file', name='DUMMY_VALUE') }}";
	var  baseURL_js_delete_file="javascript:delete_record('DUMMY_VALUE')";

	Dropzone.options.cranecurveDropzone = {
		dictDefaultMessage: "Drop files or click here to upload",
		init: function() {
			this.on("success", function(file, responseText) {
				console.log(responseText);
				add_record(responseText);
				
				// If successful upload, remove file from drop zone
				this.removeFile(file);
			});
		}
	};
	
	function add_record(results) {
		if ('content' in document.createElement('template')) {
			// Instantiate the table with the existing HTML tbody
			// and the row with the template
			const tbody = document.querySelector("tbody");
			const template = document.querySelector('#resultrow');

			// Clone the new row and insert it into the table
			const clone = template.content.cloneNode(true);
			let td = clone.querySelectorAll("td");
			td[0].textContent = results.datetime;
			td[1].textContent = results.filename;
			td[2].getElementsByTagName("a")[0].href = baseURL_get_file.replace(/DUMMY_VALUE/, results.resultfiles[0]);
			td[3].getElementsByTagName("a")[0].href = baseURL_get_file.replace(/DUMMY_VALUE/, results.resultfiles[1]);
			td[5].getElementsByTagName("a")[0].href = baseURL_js_delete_file.replace(/DUMMY_VALUE/, results.resultfiles);
			tbody.insertBefore(clone, tbody.firstChild);

			// Set row id to facilitate later removal
			let tr = document.getElementById("xxx");
			tr.id = results.resultfiles;
		}
	}
	
	function delete_record(filename) {
		const xhttp = new XMLHttpRequest();

		// Callback function
		xhttp.onload = function() {
			// Delete table entry
			var row = document.getElementById(filename);
			row.parentNode.removeChild(row);
		}

		// Prepare and send a request
		xhttp.open("DELETE", baseURL_delete_file.replace(/DUMMY_VALUE/, filename), true)
		xhttp.send();
	}
</script>
{% endblock %}