<!-- "Child Template" -->
{% extends "base.html" %}
{% block title %} Dual crane lift capacity curve {% endblock %}
{% block heading %} Dual crane lift capacity curve {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}


<form action="/" id="single_calc">

<!--
TODO: 
	- Do I want to create a plot client side? if so, need data
	- Get and print margin on page
	- Select values from one of the tests and verify match
	- Plot data provided by server
	- Plot elements - distances
		cog envelope to curve
		cog to curve
-->

<table>
	<tr><td>
			<table class="fmt" id="resulttable" border="1">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Crane A</th>
						<th>&nbsp;</th>
						<th>Crane B</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><label for="crane_curve">Crane curve:</label></td>
						<td colspan="3">
							<select name="crane_curve_a" id="crane_curve_a">
							{% for c in SUPPORTED_CRANE_CURVE_IDS %}
								<option value="{{ c }}" 
								{% if c == "S7000.main.fixed_1.5" %}
								selected="selected" 
								{% endif %}
								>{{ c }}</option>
							{% endfor %}
							</select>			  
						</td>
					</tr>
					<tr>
						<td><label for="crane_radius_a">Crane radii [m]:</label></td>
						<td><input onblur="updateCalcs()" id="crane_radius_a" name="crane_radius_a" type="number" min="0" value="50" size="8"/></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="crane_radius_b" name="crane_radius_b" type="number" min="0" value="50" /></td>
					</tr>
					<tr>
						<td><label for="cog">CoG [m]:</label></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="cog" name="cog" type="number" value="61.646" /></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="lift_point_a">Lift points [m]:</label></td>
						<td><input onblur="updateCalcs()" id="lift_point_a" name="lift_point_a" type="number" value="41.050" /></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="lift_point_b" name="lift_point_b" type="number" value="82" /></td>
					</tr>
					<tr>
						<td><label for="float_a">Float (+/-) [m]:</label></td>
						<td><input onblur="updateCalcs()" id="float_a" name="float_a" type="number" value="0" /></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="float_b" name="float_b" type="number" value="0" /></td>
					</tr>
					<tr>
						<td><label for="distance_a">Distance from CoG to lift point [m]:</label></td>
						<td class="fmtres"><span id="distance_a"></span></td>
						<td class="fmtres"><span id="distance_ab"></span></td>
						<td class="fmtres"><span id="distance_b"></span></td>
					</tr>
					<tr class="nobr">
						<td><label for="crane_a_capacity">Single crane capacity (inkl. DAF=1.1) [t]:</label></td>
						<td class="fmtres"><span id="crane_a_capacity"></span></td>
						<td>&nbsp;</td>
						<td class="fmtres"><span id="crane_b_capacity"></span></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="weight_uncertainty_factor">Weight uncertainty factor:</label></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="weight_uncertainty_factor" name="weight_uncertainty_factor" type="number" value="1.015" /></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="cog_uncertainty_factor">CoG uncertainty factor:</label></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="cog_uncertainty_factor" name="cog_uncertainty_factor" type="number" value="1.01" /></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="tilt_factor">Tilt factor:</label></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="tilt_factor" name="tilt_factor" type="number" value="1.02" /></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="weight">Module lift weight [t]:</label></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="weight" name="weight" type="number" value="10375" /></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="factored_lift_weight">Factored lift weight [t]:</label></td>
						<td>&nbsp;</td>
						<td class="fmtres"><span id="factored_lift_weight"></span></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="module_cog_offset_a">Module CoG offset [t]:</label></td>
						<td><input onblur="updateCalcs()" id="module_cog_offset_a" name="module_cog_offset_a" type="number" value="-0.5" /></td>
						<td>&nbsp;</td>
						<td><input onblur="updateCalcs()" id="module_cog_offset_b" name="module_cog_offset_b" type="number" value="0.5" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td class="fmtres">Total</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="rigging_weight_a">Rigging weight [t]:</label></td>
						<td><input onblur="updateCalcs()" id="rigging_weight_a" name="rigging_weight_a" type="number" value="380" /></td>
						<td class="fmtres"><span id="combined_rigging_weight"></span></td>
						<td><input onblur="updateCalcs()" id="rigging_weight_b" name="rigging_weight_b" type="number" value="495" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><label for="module_weight_margin">Module weight margin [t]:</label></td>
						<td>&nbsp;</td>
						<td><span id="module_weight_margin"></span></td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</td>
		<td>&nbsp;</td>
		<td>
			<div>
				<canvas id="capacity_chart" height="550" width="600"></canvas>
			</div>
		</td>
	</tr>
</table>
</form>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
	// get chart element
	var ctx = document.getElementById("capacity_chart");

	// data to plot
	var data = {
		datasets: [{
			label: "Dataset 1",
			data: [{
					x: 1,
					y: 1
		    }, {
            		x: 3,
            		y: 7
         	}, {
            		x: 6,
            		y: 5
         	}, { 
            		x: 1,
            		y: 1
			}],
			borderColor: 'black',
			borderWidth: 1,
			pointBackgroundColor: ['#000', '#00bcd6', '#d300d6'],
         	pointBorderColor: ['#000', '#00bcd6', '#d300d6'],
         	pointRadius: 5,
         	pointHoverRadius: 5,
         	fill: false,
         	tension: 0,
         	showLine: true
		}, {
			label: "Dataset 2",
	       	data: [{
           		x: 3.5,
           		y: 4.5
        	}],
        	pointBackgroundColor: 'orange',
        	pointBorderColor: 'darkorange',
        	pointRadius: 10,
        	pointHoverRadius: 10
		}]
	};

	// initialize empty chart
	var myChart = new Chart(ctx, {
		type: "scatter",
	    data: data,
		options: {
			responsive: true,
			plugins: {
				title: {
	        		display: false,
	        		text: "Dual crane capacity curve",
	      		},
			},
			scales: {
            	y: {
					title: {
						display: true,
						text: "Weight [t]"
					}
            	},
            	x: {
					title: {
						display: true,
						text: "Centre of Gravity [m]"
					}
            	}
        	}
		}
  	});

	// get and submit user input
	function updateCalcs() {
		// Combined rigging weight
		rigging_weight_a = document.getElementById("rigging_weight_a").value;
		rigging_weight_b = document.getElementById("rigging_weight_b").value;
		document.getElementById("combined_rigging_weight").innerHTML = (rigging_weight_a * 1 + rigging_weight_b * 1).toFixed(0);

		// Factored lift weight, excluding rigging
		fac_1 = document.getElementById("weight_uncertainty_factor").value;
		fac_2 = document.getElementById("cog_uncertainty_factor").value;
		fac_3 = document.getElementById("tilt_factor").value;
		weight = document.getElementById("weight").value;
		document.getElementById("factored_lift_weight").innerHTML = ( weight * fac_1 * fac_2 * fac_3).toFixed(0);

		// Distance from CoG to lift points
		cog = document.getElementById("cog").value;
		lp1 = document.getElementById("lift_point_a").value;
		lp2 = document.getElementById("lift_point_b").value;
		document.getElementById("distance_a").innerHTML = Math.abs(cog - lp1).toFixed(3);
		document.getElementById("distance_b").innerHTML = Math.abs(cog - lp2).toFixed(3);
		document.getElementById("distance_ab").innerHTML = Math.abs(lp1 - lp2).toFixed(3);

		// URL for the server side function that receives the form input fields
		var url="{{ url_for('calc_dual_crane_capacity') }}";

		// grab the form input fields
		var data = $(document.getElementById("single_calc")).serialize();

		// add units to form fields - only t and m supported.
		const searchParams = new URLSearchParams(data);
		for (const p of searchParams) {
			if(["weight", "rigging_weight_a", "rigging_weight_b"].includes(p[0])) {
				searchParams.set(p[0], p[1]+"t");
			}
			else if(!["crane_curve_a", "weight_uncertainty_factor", "cog_uncertainty_factor", "tilt_factor"].includes(p[0])) {
				searchParams.set(p[0], p[1]+"m");
			};
		};

		// add the input values to the url, and add a curve for crane_b (same as a)
		url += "?" + searchParams + "&crane_curve_b=" + document.getElementById("crane_curve_a").value;

		// AJAX call to server to perform actual capacity calculations
		$.get(url, function(data, status) {
      		// parse return values
//			alert(status);
//			alert(data);
			console.log(data);
//			document.getElementById("plot").src = "data:image/png;base64," + data;


			// update chart
			//myChart.data.labels.push("Post " + postId++);
      		//myChart.data.datasets[0].data.push(getRandomIntInclusive(1, 25));
      		//myChart.update();
		}, 'html');

		// Set weight margin and formatting
		val = -1000;
		elem = document.getElementById("module_weight_margin");
		elem.innerHTML = val.toFixed(0);

		if(val >= 0) { 
			elem.parentNode.className = "fmtweight_margin_pos";
		} else { 
			elem.parentNode.className = "fmtweight_margin_neg";
		}
	}

	onload = updateCalcs();
</script>
{% endblock %}
